header{
    background-color: lightskyblue;
    background-image: url(img/background2.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    color: red;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction:row;
    /* position: fixed; */
  }
  header img{
    width: 200px;
  }
 